
@font-face {
  font-family: "font-1";
  src: url(./assets/LibreBaskerville-Regular.ttf);
}

header{
margin-bottom: 0px;
}

body {
  width: 97%;
  background: white;
  color: black;
  text-align: center;
  font-family: "font-1", cursive;
}
h1 {
  font-size: 25px;
  letter-spacing: 3px;
  margin: 0px 0px 8px;
}
input {
  background-color: rgb(241, 236, 236);
  border-width: 30%;
  border-style: solid;
  border-color: black;
  border-radius: 5px 5px 5px 5px;
  outline: none;
  text-align: center;
  font-size: 60%;
  cursor: pointer;
  font-family: "font-1", cursive;
  margin: 0px 0px;
  width: 90%;
  max-width: 900px;
  padding: 10px 0px;
  margin-bottom: 2px;
  margin-top: 2px;
}
input::placeholder {
  text-align: center;
  font-size: mediumpx;
}
.calculate-button {
  border-width: 30%;
  border-style: solid;
  border-color: black;
  background-color: green;
  font-weight: 700;
  font-size: medium;
  color: black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 0px 0px;
  width: 90%;
  max-width: 900px;
  padding: 10px 0px;
  margin-bottom: 2px;
  margin-top: 2px;
  }
img {
  object-fit: cover;
  width: 40%;
  max-width: 300px;
  margin-top: 3px;
  margin-bottom: 2px;
}
.image1 {
  object-fit: cover;
  width: 90%;
  max-width: 900px;
  margin-bottom: 2px;
  border-radius: 8px;
}
.image2 {
  object-fit: cover;
  width: 100%;
  max-width: 1000px;
  margin-bottom: 2px;
  border-radius: 8px;
}
h2 {
  color: black;
  margin-top: 5px ;
  margin-bottom: 5px ;
  font-size: medium;
}
p {
  object-fit: cover;
  font-weight: 400;
  font-size: large;
  color: black;
  margin-left: auto;
  margin-right: auto;

  padding-bottom: 5px;
  width:  70%;
}
.tabContainer{
    width: 100%;
    height: 400px;
}
.tabContainer .buttonContainer{
    height: 15%;
}
.tabContainer .buttonContainer button{
    width: 25%;
    height: 100%;
    float:left;
    border: none;
    outline:none;
    cursor: pointer;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
    background-color: #eee;
    font-weight: 600;
}
.tabContainer .buttonContainer button:hover{
    background-color: #d7d4d4;
}
.tabContainer .tabPanel{
    height: 100%;
    color:black;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 22px;
    display: none;
}

.subtabContainer{
  width: 100%;
  height: 200px;
}
.subtabContainer .subbuttonContainer{
  height: 18%;
}
.subtabContainer .subbuttonContainer button{
  width: 25%;
  height: 100%;
  float: left;
  border: none;
  outline:none;
  cursor: pointer;
  padding: 1px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  background-color: #eee;
  font-weight: 600;
  border-radius: 0px;
}
.subtabContainer .subbuttonContainer button:hover{
  background-color: #d7d4d4;
}
.subtabContainer .subtabPanel{
  height: 100%;
  color: white;
  text-align: center;
  padding-top: 1px;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 22px;
  display: none;
}
footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 25px;
  background-color: lightgray;
  text-align: center;
  line-height: 0px;
}
h3 {
font-size: 10px;
color: black;
padding-top: 1px;
}