
@font-face {
  font-family: "font-1";
  src: url(./assets/LibreBaskerville-Regular.ttf);
}

header{
margin-bottom: 0px;
}

body {
  width: 97%;
  background: white;
  color: black;
  text-align: center;
  font-family: "font-1", cursive;
}
h1 {
  font-size: 120%;
  letter-spacing: 100%;
  margin: 0px 0px 8px;
}
h2 {
  object-fit: cover;
  text-align: center;
  color: black;
  margin-top: 12px;
  font-size: 60%;
}
h3 {
  object-fit: cover;
  font-weight: 800;
  font-size: large;
  color: black;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;
  width:  70%;
  }
h4 {
  object-fit: cover;
  font-weight: 800;
  font-size: large;
  color: black;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;
  width:  70%;
  }
p {
  object-fit: cover;
  font-weight: 400;
  font-size: large;
  color: black;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;
  width:  70%;
}
input {
  background-color: rgb(241, 236, 236);
  border-width: 30%;
  border-style: solid;
  border-color: black;
  border-radius: 5px 5px 5px 5px;
  outline: none;
  text-align: center;
  font-size: 60%;
  cursor: pointer;
  font-family: "font-1", cursive;
  margin: 0px 0px;
  width: 90%;
  max-width: 900px;
  padding: 10px 0px;
  margin-bottom: 2px;
  margin-top: 2px;
}
input::placeholder {
  text-align: center;
  font-size: mediumpx;
}
.calculate-button {
  border-width: 30%;
  border-style: solid;
  border-color: black;
  background-color: green;
  font-weight: 700;
  font-size: medium;
  color: black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 0px 0px;
  width: 90%;
  max-width: 900px;
  padding: 10px 0px;
  margin-bottom: 2px;
  margin-top: 2px;
  }
img {
  object-fit: cover;
  width: 40%;
  max-width: 300px;
  margin-top: 3px;
  margin-bottom: 2px;
}
.image1 {
  object-fit: cover;
  width: 90%;
  max-width: 900px;
  margin-bottom: 2px;
  border-radius: 8px;
}
.image2 {
  object-fit: cover;
  width: 100%;
  max-width: 800px;
  margin-bottom: 2px;
  border-radius: 8px;
}
.tabContainer{
    width: 100%;
    height: 400px;
}
.tabContainer .buttonContainer{
    height: 15%;
}
.tabContainer .buttonContainer button{
    width: 25%;
    height: 100%;
    float:left;
    border: none;
    outline:none;
    cursor: pointer;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
    background-color: #eee;
    font-weight: 600;
}
.tabContainer .buttonContainer button:hover{
    background-color: #b5c3ef;
}
.tabContainer .buttonContainer button.active{
  background-color: #423e97;
  font-weight: 700;
  color: white;
}

.tabContainer .tabPanel{
    height: 100%;
    color:black;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 22px;
    display: none;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 25px;
  background-color: lightgray;
  text-align: center;
  line-height: 0px;
}
#DocumentMenu {
  width: 100%;
  height: 40px;
  max-width: none;
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: #eee;
  font-family: sans-serif;
  font-size: 80%;
}
#CalculMenu {
  width: 100%;
  height: 40px;
  max-width: none;
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: #eee;
  font-family: sans-serif;
  font-size: 80%;
}
#ListMenu {
  width: 100%;
  height: 40px;
  max-width: none;
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: #eee;
  font-family: sans-serif;
  font-size: 80%;
}

.embed-container {
  height: 75vh; 
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  width: 100%;
  height: 100%;
}